<!doctype html>
<html lang="{{ (partial "lang.html" site.Language.Lang).code }}" data-theme="auto">
<head>
{{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}is-home{{ else }}is-page{{ end }}">
{{- with resources.Get "images/site/hero.jpg" }}{{ $bg := .Resize "960x webp q60" }}
<div class="site-bg" aria-hidden="true" style="--bg-photo: url('{{ $bg.RelPermalink }}')"></div>
{{- end }}
<svg class="lg-defs" width="0" height="0" aria-hidden="true" focusable="false">
  <filter id="lg-lens" x="0" y="0" width="100%" height="100%" color-interpolation-filters="sRGB">
    <feImage result="mx" preserveAspectRatio="none" width="100%" height="100%" href="data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' preserveAspectRatio='none'%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='.14' stop-color='%23800000'/%3E%3Cstop offset='.86' stop-color='%23800000'/%3E%3Cstop offset='1' stop-color='%23ff0000'/%3E%3C/linearGradient%3E%3Crect width='100' height='100' fill='url(%23g)'/%3E%3C/svg%3E"/>
    <feImage result="my" preserveAspectRatio="none" width="100%" height="100%" href="data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' preserveAspectRatio='none'%3E%3ClinearGradient id='g' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='.14' stop-color='%23008000'/%3E%3Cstop offset='.86' stop-color='%23008000'/%3E%3Cstop offset='1' stop-color='%2300ff00'/%3E%3C/linearGradient%3E%3Crect width='100' height='100' fill='url(%23g)'/%3E%3C/svg%3E"/>
    <feComposite in="mx" in2="my" operator="arithmetic" k2="1" k3="1" result="map"/>
    <feDisplacementMap in="SourceGraphic" in2="map" scale="-90" xChannelSelector="R" yChannelSelector="G"/>
  </filter>
</svg>
<a class="skip-link" href="#main">{{ i18n "skip" }}</a>
{{ partial "header.html" . }}
<main id="main" tabindex="-1">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
