<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ i18n "language" | default "Language" }}
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelector">
        {{ range .AllTranslations }}
        <a class="dropdown-item nav-link languages-item {{ if eq $.Language.Lang .Language.Lang }}active{{ end }}"
            href="{{ .RelPermalink | relURL }}">
            {{ .Language.LanguageName }}
        </a>
        {{ end }}
    </div>
</li>